{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Bloc Shot 2014</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- css -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "color/default.css" %}" rel="stylesheet" media="screen">
    <script src="{% static "js/modernizr.custom.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
      </head>
  <body>
      <!-- intro area -->
      <div id="intro">

            <div class="intro-text">
                <div class="container">
                    <div class="row">


                    <div class="col-md-12">
                        <embed width="510" height="320" src="http://www.youtube.com/v/L8eRzOYhLuw">
                        <div class="brand">
                            <p><span></span></p>
                            <p><span>Blocshot 2014</span></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

     </div>

     <section id="general" class="home-section bg-white">
        <div class="container">
              <div class="row">
                  <div class="col-md-offset-2 col-md-8">
                    <div class="section-heading">
                     <h2>Bloc Shot 2014</h2>
                     <h6>Amorsolo Basketball Court, Brgy. UP Campus</h6>
                     <h6>September 29, 2014</h6>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-offset-2 col-md-6">
                    <h5>General</h5>
                    <p>
                        Each team will have to submit an accomplished form online <link> or manual will also be available at the Engineering Survival Guide distribution booth located at the Math Building during September 16-19.
                    </p>
                    <p>
                        Each team must be able to pay a registration fee of ₱95.00 for confirmation either at the distribution booth or at the Epsilon Chi tambayan at Melchor Hall on or before September 19, 2014.
                    </p>
                    <p>
                        The ₱95.00 registration fee will cover all the games: 3-on-3 challenge, 3-point Shootout and Shooting Stars. Refunds for withdrawal will only be entertained until September 26.
                    </p>
                    <h5>Participants</h5>
                    <ul>
                        <li>
                            Players must be bonafide Engineering freshman students from the University of the Philippines – Diliman.
                        </li>
                        <li>
                            Each team shall consist of 3 to 5 members.
                        </li>
                        <li>
                            At least 50% of the players must belong to the same bloc.
                        </li>
                        <li>
                            Bloc handlers are not allowed to participate.
                        </li>
                        <li>
                            In case of the unknown, a maximum of 1 walk-in player is permitted. The walk-in should still be an Engineering freshman.
                        </li>
                    </ul>
                </div>
              </div>
        </div>
    </section>

     <section id="threeonthree" class="home-section bg-gray">
        <div class="container">
              <div class="row">
                  <div class="col-md-offset-2 col-md-8">
                    <div class="section-heading">
                     <h2>3 on 3 Rules</h2>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-offset-2 col-md-6">
                    <h5>Court</h5>
                    <p>
                        The game will be played on a half court.
                    </p>
                    <h5>Teams</h5>
                    <p>
                        Each team shall consist of at least 3 members.
                    </p>
                    <h5>Format</h5>
                    <p>
                        The games will be played on a double elimination tournament format.
                    </p>
                    <h5>Beginning of the Game</h5>
                    <p>
                        A coin toss shall determine which team gets the first possession.
                    </p>
                    <h5>Scoring</h5>
                    <p>
                        The game will be played on a 1-2 point system. Every shot made inside the arc is worth 1 point. Every shot made behind the arc is worth 2 points and every successful free throw shot is worth 1 point.
                    </p>
                    <h5>Playing time</h5>
                    <p>
                        Playing time For each game, there will be two halves with an 8-minute game clock (running time) per half and a 12 second shot clock per possession. Running time means that the game clock shall not be stopped during dead ball situations and free throws otherwise asked by the official. However, running time does not apply during the last 2 minutes of the
                    </p>
                    <h5>Winner of a game</h5>
                    <p>
                        The first team to score 21 points or the team with the most points when the 16-minute game clock expires wins the game. If the score is tied at the end of regulation, the first team to score 2 points in the overtime wins the game. Overtime starts 1 minute after the end of regulation. A team shall lose the game by forfeit if the team of 3 players is not present on the playing court 10 minutes after the scheduled start of game via Philippine Standard Time.
                    </p>
                    <h5>Fouls/Free throws</h5>
                    <p>
                        A team is in a penalty situation after it has committed 5 fouls. After a team has reached 9 team fouls, any subsequent foul will be considered technical. Fouls during the act of shooting inside the arc shall be awarded 1 free throw, whilst fouls during the act of shooting behind the arc shall be awarded 2 free throws. Fouls during the act of shooting followed by a successful field goal shall be awarded 1 additional free throw. Team fouls 6, 7, 8, and 9 shall be penalized with 2 free throws. The 9th and any subsequent team foul as well as technical and unsportsmanlike fouls shall be penalized with 2 free throws and ball possession.
                    </p>
                    <h5>How the ball is played</h5>
                    <p>
                        Following each successful field goal or last free throw A player from a non-scoring team will resume the game by dribbling or passing the ball from inside the court directly underneath the basket (not from behind the end line) to a place on the court behind the arc. The defensive team is not allowed to play for the ball in the “no-charge semi-circle area” underneath the basket. Following each unsuccessful field goal or last free throw If the offensive team rebounds the ball, it may continue to attempt to score without returning the ball behind the arc. If the defensive team rebounds or steals the ball, it must return the ball behind the arc (by passing or dribbling). In the event of a jump ball situations, the defensive team shall be rewarded the ball.
                    </p>
                    <h5>Substitution</h5>
                    <p>
                        Substitutions can be done by any team during dead ball, prior to the check-ball.
                    </p>
                    <h5>Timeouts</h5>
                    <p>
                        One 30-second timeout is granted to each team. A player can call the timeout in a dead ball situation. Running time is stopped during timeouts.
                    </p>
                    <h5>Disqualification</h5>
                    <p>
                        A player committing an unsportsmanlike foul will be disqualified from the game by the organizers. Subsequent violations will result to event disqualification.
                    </p>
                    <p><strong>Note: </strong>Decisions made by the referees and organizers are final and irrevocable.</p>
                </div>
              </div>
        </div>
    </section>

    <section id="shoootingstars" class="home-section bg-white">
        <div class="container">
              <div class="row">
                  <div class="col-md-offset-2 col-md-8">
                    <div class="section-heading">
                     <h2>Shooting Stars Rules</h2>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-offset-2 col-md-6">
                    <h5>Game Format</h5>
                    <ul>
                        <li>
                            Shooting from 6 locations of increasing difficulty, teams attempt to make all 6 shots in numeric order in the fastest time.
                        </li>
                        <li>
                            The two teams that hit all six shots in the fastest times will
move on to the Final round.
                        </li>
                        <li>
                            Teams will shoot in inverse order of their First round time for
the Final round.
                        </li>
                        <li>
                            Six numbered shooting spots will be placed on the floor to
designate each shot location.
                        </li>
                        <li>
                            Each team must choose a specific order of shooting (Player
A,B,C) and follow that order thru the event (see below).
                        </li>
                        <li>
                            Each shot must be made (unlimited attempts) before the
next player begins shooting in succession.
                        </li>
                        <li>
                            For Shot #6 (near half court), Player C must make the initial
attempt - then all three players will rotate (in A,B,C order) until
the shot is made, which will stop the clock and give the team
their official time.
.
                        </li>
                        <li>
                            A referee will be on-court to pass judgment on any violation
of the rules.
                        </li>
                    </ul>
                    <h5>Time Limit</h5>
                    <ul>
                        <li>
                            Each team will be given up to 2:00 minutes to complete the
shooting course.
                        </li>
                        <li>
                            The clock will be started by the referee and will start at 0:00 and count up.
                        </li>
                        <li>
                            The clock will be stopped by the referee’s whistle when the team makes shot #6.
                        </li>
                        <li>
                            If a team has not completed all six shots as of the 2:00 mark, the horn will sound and their score will be based upon
the total number of shots completed as of 2:00.
                        </li>
                    </ul>
                    <h5>Tie Breakers</h5>
                    <ul>
                        <li>
                            In the case of a tie (two or more teams complete all shots in the same amount of time, or teams only complete the
same amount of shots after 2:00), a shoot-off will be used to break the tie.
                        </li>
                        <li>
                            The clock will be reset (a time limit of 1:00 will be imposed) and the team that makes one shot from the "#6" in the
shortest amount of time will, depending on the round, either advance to the Finals or be declared champions.
                        </li>
                        <li>
                            Once again each team’s three players must rotate their attempts (in any 3-player order their team decides).
                        </li>
                        <li>
                            If no team makes shot #6 in the designated 1:00 tiebreaker, it will be repeated shooting from shot #5.
                        </li>
                    </ul>
                     <h5>SHOT ORDER, LOCATIONS AND PLAYER ROTATION</h5>
                    <ul>
                        <li>
                            Shot #1 – 10 foot BANK shot from right side angle – PLAYER A
                        </li>
                        <li>
                            Shot #2 – 15 foot shot from left side angle – PLAYER B
                        </li>
                        <li>
                            Shot #3 – 3-Pt. shot from top of the arc/straight on – PLAYER C
                        </li>
                        <li>
                            Shot #4 – 18-Foot shot from right side baseline – PLAYER A
                        </li>
                        <li>
                            Shot #5 – 3-Pt. shot from left side angle – PLAYER B
                        </li>
                        <li>
                            Shot #6 – Shot from just inside half-court/straight on – PLAYER C, PLAYER A, PLAYER B, repeat...
                        </li>
                    </ul>
                </div>
              </div>
        </div>
    </section>

    <section id="threepoint" class="home-section bg-gray">
        <div class="container">
              <div class="row">
                  <div class="col-md-offset-2 col-md-8">
                    <div class="section-heading">
                     <h2>3-Point Shootout Rules</h2>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-offset-2 col-md-6">
                    <h5>Participants</h5>
                        <p>At most 1 representative per team.</p>
                    <h5>Game Format</h5>
                    <ul>
                        <li>
                            Two rounds of competition – With the top two shooters from the first round advancing to the finals.
                        </li>
                        <li>
                           Three shooting stations around the 3-point line, with four orange plus one multi-colored ball each.
                        </li>
                        <li>
                            The competitor with the lower individual score from the First Round will go first in the Final Round.
                        </li>
                        <li>
                            Players may not start on or over the three-point line while shooting. A basket does not count if the line is violated.
                        </li>
                    </ul>
                    <h5>Time Limit</h5>
                        <p>Each participant has forty seconds (0:40) to shoot as many balls as he can</p>
                    <h5>Tie Breakers</h5>
                    <ul>
                        <li>
                            In the event of a tie in the First Round, there will be a 24-second shootout to break the tie. If there is still a tie, the
process will be repeated until the tie is broken.
                        </li>
                        <li>
                            In the event of a tie in the FINAL Round, there will be a FULL 40-second shootout to break the tie. If there is still a
tie, the process will be repeated until the tie is broken.
                        </li>
                    </ul>
                </div>
              </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy;2014 <a href="https://www.facebook.com/upepsilonchi">UP Epsilon Chi Fraternity.</a></p>
                </div>
            </div>
        </div>
    </footer>

     <!-- js -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.smooth-scroll.min.js" %}"></script>
    <script src="{% static "js/jquery.dlmenu.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>

</html>
