{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Blocshot 2014</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- css -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "color/default.css" %}" rel="stylesheet" media="screen">
    <script src="{% static "js/modernizr.custom.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
  </head>
  <body>

       <!-- Contact -->
        <section id="contact" class="home-section bg-white">
          <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                      <div class="section-heading">
                      <h1>Registration for Blocshot 2014</h1>
                      <p>Amorsolo Basketball Court, Brgy. UP Campus</p>
                      <p>September 29, 2014</p>
                      </div>
                    </div>
                </div>

              <div class="row">
                  <div class="col-md-offset-1 col-md-10">
                  {% for message in messages %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          {{ message }}
                        </div>
                    {% endfor %}
                  <form action="/register/" method="post" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-8">
                        <input type="text" class="form-control" id="inputName" placeholder="Bloc, ex. G-15" name="bloc">
                        {% if form.name.errors %}
                              <div class="alert alert-danger" role="alert">{{ form.bloc.errors }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-8">
                        <input type="text" class="form-control" id="inputName" placeholder="Team name" name="team_name">
                        {% if form.name.errors %}
                              <div class="alert alert-danger" role="alert">{{ form.team_name.errors }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-8">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Phone no." name="phone_no">
                        {% if form.phone_no.errors %}
                              <div class="alert alert-danger" role="alert">{{ form.phone_no.errors }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-8">
                        <input type="text" class="form-control" id="inputSubject" placeholder="Player 1 name" name="player1">
                        {% if form.bloc.errors %}
                              <div class="alert alert-danger" role="alert">{{ form.player1.errors }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-8">
                        <input type="text" class="form-control" id="inputSubject" placeholder="Player 2 name" name="player2">
                        {% if form.bloc.errors %}
                              <div class="alert alert-danger" role="alert">{{ form.player2.errors }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-8">
                        <input type="text" class="form-control" id="inputSubject" placeholder="Player 3 name" name="player3">
                        {% if form.bloc.errors %}
                              <div class="alert alert-danger" role="alert">{{ form.player3.errors }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-8">
                        <input type="text" class="form-control" id="inputSubject" placeholder="Player 4 name (optional)" name="player4">
                        {% if form.bloc.errors %}
                              <div class="alert alert-danger" role="alert">{{ form.player4.errors }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-8">
                        <input type="text" class="form-control" id="inputSubject" placeholder="Player 5 name (optional)" name="player5">
                        {% if form.bloc.errors %}
                              <div class="alert alert-danger" role="alert">{{ form.player5.errors }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-8">
                       <button type="submit" class="btn btn-theme btn-lg btn-block">Register</button>
                      </div>
                    </div>
                  </form>

                  </div>
              </div>
          </div>
        </section>

      <!-- spacer 2 -->
      <section id="spacer2" class="home-section spacer">
         <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="color-light">
                      <h2 class="wow bounceInDown" data-wow-delay="1s">Brought to you by</h2>
                      <img src="{% static "img/seal.png" %}" style="width: 250px; height: auto;"></img>
                      </div>
                  </div>
              </div>
          </div>
      </section>

     <!-- js -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.smooth-scroll.min.js" %}"></script>
    <script src="{% static "js/jquery.dlmenu.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>

</html>
